{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}
    用户中心
{% endblock %}
{% block main %}
    <div class="Bott">
        <div class="wrapper clearfix" style="margin: 0 auto">
            <div class="zuo fl" style="margin-left: 100px">
                <h3>
                    <a href="/"><img src="{% static 'images/tx.png' %}"></a>
                    <p class="clearfix"><span class="fl">[{{ user.uname }}]</span><span class="fr logout">[退出登录]</span></p>
                </h3>
                <div>
                    <ul>
                        <li><a href="#">我的订单</a></li>
                    </ul>
                    <ul>
                        <li><a href="/user/address/">地址管理</a></li>
                    </ul>

                </div>
            </div>
            <div class="you fl">

                <h2>收货地址</h2>
                <div class="addr_user">
                    {% for address in user.address_set.all %}
                        {% if address.isdefault %}
                            <p style="font-weight: bold">
                                当前默认地址 ： {{ address.aname }} {{ address.aphone }} {{ address.addr }}</p>
                        {% else %}
                            <p> {{ address.aname }} {{ address.aphone }} {{ address.addr }}&emsp;
                                <button value="{{ address.id }}" onclick="set_default($(this).val())">设为主要地址</button>
                                <button value="{{ address.id }}" onclick="del_addr($(this).val())">删除</button></p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="add">
                    <div onclick="add()">
                        <a href="javascript:void(0);"  id="addxad"><img src="{% static 'images/jia.jpg' %}"></a>
                        <span>添加新地址</span>
                    </div>
                </div>

            </div>

            <div class="mask" style="display: none;"></div>
            <div class="adddz" style="display: none; margin:-350px auto;">
                <form action="/user/address/" method="get">{% csrf_token %}
                    <input type="text" placeholder="姓名" name="name" class="on" required>
                    <input type="text" placeholder="手机号" name="phone" required>
                    <div class="city">
                        <select name="provinces">
                            {% for province in provinces %}
                                <option value="{{ province.areaid }}">{{ province.areaname }}</option>
                            {% endfor %}

                        </select>
                        <select name="citys">

                            {% for city in citys %}
                                <option value="{{ city.areaid }}">{{ city.areaname }}</option>
                            {% endfor %}

                        </select>
                        <select name="areas">
                            {% for area in areas %}
                                <option value="{{ area.areaid }}">{{ area.areaname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <textarea name="" rows="" cols="" class="address_details" placeholder="详细地址" required></textarea>
                    <div class="bc">
                        <input type="button" onclick="save_address()" value="保存">
                        <input type="button" value="取消" id="cancel">
                    </div>
                </form>
            </div>

        </div>
    </div>
    {% csrf_token %}
{% endblock main %}
{%block footerjs %}
    <script>
        //退出登录功能
        $('.logout').click(function () {
            $.ajax({
                method:'post',
                url:'/user/logout/',
                data:'csrfmiddlewaretoken='+$('input[name="csrfmiddlewaretoken"]').val(),
                success:function(data){
                    window.location='/user/login/'
                }
            })
        });

        //隐藏地址输入框
        $('.mask').click(function () {
            $(this).css('display','none');
            $('.adddz').css('display','none')
        });
        $('#cancel').click(function () {
            $('.mask').css('display','none');
            $('.adddz').css('display','none')
        });
        //显示地址输入框
        function add() {
            $('.mask').css('display','block');
            $('.adddz').css('display','block');
        }

        //三级联动
        $('select[name="provinces"]').change(function(){
            //获得是select选中的option的value
            var provinceId = $(this).val();
            $.ajax({
                type:'post',
                url:'/user/address/',
                data:'provinceId='+provinceId+'&csrfmiddlewaretoken='+$('input[name="csrfmiddlewaretoken"]').val(),
                success:function(result){
                    var citys_parent = $('select[name="citys"]');
                    citys_parent.empty();
                    var areas_parent = $('select[name="areas"]');
                    areas_parent.empty();
                    data = JSON.parse(result.citys);

                    for(var index=0;index < data.length;index++){
                        var city = data[index];
                        var r ='<option value="'+city.pk+'">'+city.fields.areaname+'</option>';
                        $(r).appendTo(citys_parent);
                    }
                    {#                var areas_parent = $('select[name="areas"]');#}
                    {#                areas_parent.empty();#}
                    {#                 for (var index=0;index < result.areas.length;index++){#}
                    {#                    var area = result.areas[index];#}
                    {#                     var r ='<option value="'+area.areaid+'">'+area.areaname+'</option>';#}
                    {#                    $(r).appendTo(areas_parent)#}
                    {#                }#}
                }
            })
        });

        $('select[name="citys"]').change(function(){
            var cityid = $(this).val();
            $.ajax({
                type:'post',
                url:'/user/address/',
                data:'provinceId='+cityid+'&csrfmiddlewaretoken='+$('input[name="csrfmiddlewaretoken"]').val(),
                success:function(data){
                    var areas_parent = $('select[name="areas"]');
                    areas_parent.empty();
                    data = JSON.parse(data.citys);
                    $.each(data,function(index,area){
                        var r='<option value="'+area.id+'">'+area.fields.areaname+'</option>';
                        $(r).appendTo(areas_parent)
                    })
                }
            })
        });
        function set_default(txt) {
            $.get('/user/set_default/', {'id': txt}, function (data) {
                if(data.flag){
                    window.location.reload();
                }
            })
        }
        function del_addr(txt) {
            $.get('/user/del_addr/', {'id': txt}, function (data) {
                if(data.flag){
                     window.location.reload();
                }
            })
        }
        function save_address() {

            var name =$('input[name="name"]').val();
            var phone =$('input[name="phone"]').val();
            var province =$('select[name="provinces"] option:selected').text();
            var city =$('select[name="citys"] option:selected').text();
            var area =$('select[name="areas"] option:selected' ).text();
            var details_address =$('.address_details').val();
{#            var address = province+','+city+','+area+','+details_address;#}
            var address = province+' '+city+' '+area+' '+details_address;
            var csrf_name = $('input[name="csrfmiddlewaretoken"]').val();
            if(name.length == 0||phone.length==0){
                alert('请完成填写');
                return false
            }
            $.ajax({
                async:false,
                method:'post',
                url:'/user/save_address/',
                data:'&address='+address+'&name='+name+'&phone='+phone+
                '&csrfmiddlewaretoken='+csrf_name,
                success:function(data){
                    if(data.flag){
                        window.location.reload();
{#                        $('.addr_user').append('<p>'+ name +  phone + address +#}
{#                            '</p><button value="">设为主要地址</button>'+#}
{#                            '<button value="">删除</button>')#}
                    }
                }
                {#            $.each(data,function(index,d){#}
                {#            $('.add').append($(eval('"'+d+'"')))#}
                {#            })#}
                {#            }#}
            });
            $('.mask').css('display','none');
            $('.adddz').css('display','none')
        }
    </script>
{% endblock footerjs %}